* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f2f2f2;
}

.container {
  width: 100%;
  max-width: 500px;
  background: white;
  margin: 100px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #00a8ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #007acc;
}

ul {
  list-style: none;
  margin-top: 20px;
}

ul li {
  background: #eee;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
}

ul li.checked {
  text-decoration: line-through;
  color: gray;
}

ul li::after {
  content: "×";
  position: absolute;
  right: 15px;
  top: 10px;
  color: red;
  cursor: pointer;
}
